
odynnn/HTML_CSS/sign_ups_forms_odn/signUp.svg
odynnn/HTML_CSS/sign_ups_forms_odn/shape.svg
odynnn/HTML_CSS/sign_ups_forms_odn/signedUp.svg
odynnn/HTML_CSS/sign_ups_forms_odn/favicon.png
odynnn/HTML_CSS/sign_ups_forms_odn/dbl-arrow.png
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Anglar/.editorconfig
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Anglar/.nx/cache/cloud/2312.01.6.hotfix4/index.js
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Anglar/.nx/cache/cloud/2312.01.6.hotfix4/lib/daemon/process-run-end.js
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Anglar/.nx/cache/cloud/2312.01.6.hotfix4/lib/heartbeat/heartbeat-process.js
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Anglar/.nx/cache/cloud/verify.lock
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Anglar/.nx/cache/d/daemon.log
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Anglar/.nx/cache/d/server-process.json
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Anglar/.nx/cache/file-map.json
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Anglar/.nx/cache/lockfile.hash
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Anglar/.nx/cache/nx_files.nxt
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Anglar/.nx/cache/parsed-lock-file.json
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Anglar/.nx/cache/project-graph.json
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Anglar/.nx/cache/terminalOutputs/34902307928844975
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Anglar/.nx/cache/14526935671157947026.commit
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Anglar/.nx/cache/14526935671157947026.tar.gz
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Anglar/.nx/cache/14526935671157947026/code
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Anglar/.nx/cache/14526935671157947026/outputs/dist/tictactoe-anglar/3rdpartylicenses.txt
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Anglar/.nx/cache/14526935671157947026/outputs/dist/tictactoe-anglar/browser/favicon.ico
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Anglar/.nx/cache/14526935671157947026/outputs/dist/tictactoe-anglar/browser/main-HDW4J2JU.js
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Anglar/.nx/cache/14526935671157947026/outputs/dist/tictactoe-anglar/browser/polyfills-LZBJRJJE.js
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Anglar/.nx/cache/14526935671157947026/outputs/dist/tictactoe-anglar/browser/styles-5INURTSO.css
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Anglar/.nx/cache/14526935671157947026/outputs/dist/tictactoe-anglar/server/chunk-53JWIC36.mjs
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Anglar/.nx/cache/14526935671157947026/outputs/dist/tictactoe-anglar/server/chunk-KK3SI3BR.mjs
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Anglar/.nx/cache/14526935671157947026/outputs/dist/tictactoe-anglar/server/chunk-KRLCULJA.mjs
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Anglar/.nx/cache/14526935671157947026/outputs/dist/tictactoe-anglar/server/chunk-TML64AJW.mjs
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Anglar/.nx/cache/terminalOutputs/14526935671157947026
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Anglar/.nx/cache/terminalOutputs/15058995638937373098
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Angular/.nx/cache/2488336567147830390.commit
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Angular/.nx/cache/2488336567147830390.tar.gz
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Angular/.nx/cache/2488336567147830390/code
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Angular/.nx/cache/2488336567147830390/outputs/dist/tictactoe-angular/3rdpartylicenses.txt
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Angular/.nx/cache/2488336567147830390/outputs/dist/tictactoe-angular/favicon.ico
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Angular/.nx/cache/2488336567147830390/outputs/dist/tictactoe-angular/main.f238c678a04d96ba.js
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Angular/.nx/cache/2488336567147830390/outputs/dist/tictactoe-angular/polyfills.b53c1cd619081873.js
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Angular/.nx/cache/2488336567147830390/outputs/dist/tictactoe-angular/runtime.ac729ed481869e72.js
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Angular/.nx/cache/2488336567147830390/outputs/dist/tictactoe-angular/styles.ef46db3751d8e999.css
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Angular/src/assets/.gitkeep
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Angular/src/favicon.ico
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Angular/.nx/cache/terminalOutputs/17349612352502910613
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Angular/.nx/cache/lockfile.hash
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Angular/.nx/cache/nx_files.nxt
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Angular/.nx/cache/cloud/2312.01.6.hotfix4/lib/heartbeat/heartbeat-process.js
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Angular/.nx/cache/cloud/2312.01.6.hotfix4/lib/daemon/process-run-end.js
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Angular/.nx/cache/cloud/2312.01.6.hotfix4/index.js
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Angular/.nx/cache/d/server-process.json
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Angular/.nx/cache/d/daemon.log
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Angular/.nx/cache/cloud/verify.lock
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Angular/.nx/cache/14441568013255739575/outputs/dist/tictactoe-angular/main.5404005961d6972d.js
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Angular/.nx/cache/14441568013255739575/outputs/dist/tictactoe-angular/polyfills.b53c1cd619081873.js
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Angular/.nx/cache/14441568013255739575/outputs/dist/tictactoe-angular/runtime.ac729ed481869e72.js
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Angular/.nx/cache/14441568013255739575/outputs/dist/tictactoe-angular/styles.ef46db3751d8e999.css
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Angular/.nx/cache/14441568013255739575/terminalOutput
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Angular/.nx/cache/file-map.json
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Angular/.nx/cache/parsed-lock-file.json
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Angular/.nx/cache/project-graph.json
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Angular/.nx/cache/run.json
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Angular/.nx/cache/terminalOutputs/14441568013255739575
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Angular/.nx/cache/14441568013255739575/outputs/dist/tictactoe-angular/favicon.ico
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Angular/.nx/cache/14441568013255739575/outputs/dist/tictactoe-angular/3rdpartylicenses.txt
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Angular/.nx/cache/14441568013255739575/code
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Angular/.nx/cache/14441568013255739575.tar.gz
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Angular/.nx/cache/14441568013255739575.commit
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Angular/.nx/cache/file-map.json
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Angular/.nx/cache/parsed-lock-file.json
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Angular/.nx/cache/project-graph.json
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Angular/.nx/cache/run.json
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Anglar/.nx/cache/cloud/2312.01.6.hotfix4/package.json
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Anglar/.vscode/extensions.json
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Anglar/.vscode/launch.json
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Anglar/.vscode/tasks.json
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Anglar/nx.json
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Anglar/package-lock.json
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Anglar/package.json
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Anglar/project.json
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Anglar/README.md
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Anglar/server.ts
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Anglar/src/app/app.component.html
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Anglar/src/app/app.component.scss
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Anglar/src/app/app.component.spec.ts
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Anglar/src/app/app.component.ts
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Anglar/src/app/app.config.server.ts
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Anglar/src/app/app.config.ts
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Anglar/src/app/app.routes.ts
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Anglar/src/app/square/square.component.spec.ts
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Anglar/src/app/square/square.component.ts
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Anglar/src/assets/.gitkeep
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Anglar/src/favicon.ico
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Anglar/src/index.html
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Anglar/src/main.server.ts
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Anglar/src/main.ts
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Anglar/src/styles.scss
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Anglar/tsconfig.app.json
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Anglar/tsconfig.json
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Anglar/tsconfig.spec.json
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Angular/.editorconfig
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Angular/.nx/cache/2488336567147830390/outputs/dist/tictactoe-angular/index.html
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Angular/.nx/cache/2488336567147830390/terminalOutput
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Angular/.nx/cache/cloud/2312.01.6.hotfix4/package.json
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Angular/.nx/cache/file-map.json
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Angular/.nx/cache/parsed-lock-file.json
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Angular/.nx/cache/project-graph.json
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Angular/.nx/cache/run.json
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Angular/.vscode/extensions.json
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Angular/.vscode/launch.json
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Angular/.vscode/tasks.json
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Angular/nx.json
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Angular/package-lock.json
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Angular/package.json
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Angular/project.json
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Angular/README.md
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Angular/src/app/app-routing.module.ts
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Angular/src/app/app.component.html
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Angular/src/app/app.component.scss
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Angular/src/app/app.component.spec.ts
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Angular/src/app/app.component.ts
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Angular/src/app/app.module.ts
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Angular/src/app/board/board.component.css
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Angular/src/app/board/board.component.html
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Angular/src/app/board/board.component.spec.ts
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Angular/src/app/board/board.component.ts
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Angular/src/app/square.component.spec.ts
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Angular/src/app/square.component.ts
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Angular/src/index.html
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Angular/src/main.ts
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Angular/src/styles.scss
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Angular/tsconfig.app.json
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Angular/tsconfig.json
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Angular/tsconfig.spec.json
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Anglar/.nx/cache/cloud/2312.01.6.hotfix4/package.json
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Anglar/.vscode/extensions.json
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Anglar/.vscode/launch.json
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Anglar/.vscode/tasks.json
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Anglar/nx.json
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Anglar/package-lock.json
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Anglar/package.json
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Anglar/project.json
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Anglar/README.md
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Anglar/server.ts
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Anglar/src/app/app.component.html
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Anglar/src/app/app.component.scss
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Anglar/src/app/app.component.spec.ts
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Anglar/src/app/app.component.ts
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Anglar/src/app/app.config.server.ts
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Anglar/src/app/app.config.ts
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Anglar/src/app/app.routes.ts
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Anglar/src/app/square/square.component.spec.ts
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Anglar/src/app/square/square.component.ts
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Anglar/src/assets/.gitkeep
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Anglar/src/favicon.ico
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Anglar/src/index.html
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Anglar/src/main.server.ts
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Anglar/src/main.ts
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Anglar/src/styles.scss
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Anglar/tsconfig.app.json
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Anglar/tsconfig.json
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Anglar/tsconfig.spec.json
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Angular/.editorconfig
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Angular/.nx/cache/2488336567147830390/outputs/dist/tictactoe-angular/index.html
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Angular/.nx/cache/2488336567147830390/terminalOutput
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Angular/.nx/cache/cloud/2312.01.6.hotfix4/package.json
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Angular/.nx/cache/file-map.json
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Angular/.nx/cache/parsed-lock-file.json
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Angular/.nx/cache/project-graph.json
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Angular/.nx/cache/run.json
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Angular/.vscode/extensions.json
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Angular/.vscode/launch.json
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Angular/.vscode/tasks.json
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Angular/nx.json
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Angular/package-lock.json
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Angular/package.json
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Angular/project.json
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Angular/README.md
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Angular/src/app/app-routing.module.ts
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Angular/src/app/app.component.html
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Angular/src/app/app.component.scss
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Angular/src/app/app.component.spec.ts
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Angular/src/app/app.component.ts
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Angular/src/app/app.module.ts
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Angular/src/app/board/board.component.css
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Angular/src/app/board/board.component.html
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Angular/src/app/board/board.component.spec.ts
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Angular/src/app/board/board.component.ts
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Angular/src/app/square.component.spec.ts
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Angular/src/app/square.component.ts
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Angular/src/index.html
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Angular/src/main.ts
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Angular/src/styles.scss
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Angular/tsconfig.app.json
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Angular/tsconfig.json
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Angular/tsconfig.spec.json
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Anglar/.nx/cache/cloud/2312.01.6.hotfix4/package.json
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Anglar/.vscode/extensions.json
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Anglar/.vscode/launch.json
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Anglar/.vscode/tasks.json
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Anglar/nx.json
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Anglar/package-lock.json
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Anglar/package.json
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Anglar/project.json
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Anglar/README.md
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Anglar/server.ts
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Anglar/src/app/app.component.html
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Anglar/src/app/app.component.scss
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Anglar/src/app/app.component.spec.ts
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Anglar/src/app/app.component.ts
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Anglar/src/app/app.config.server.ts
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Anglar/src/app/app.config.ts
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Anglar/src/app/app.routes.ts
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Anglar/src/app/square/square.component.spec.ts
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Anglar/src/app/square/square.component.ts
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Anglar/src/assets/.gitkeep
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Anglar/src/favicon.ico
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Anglar/src/index.html
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Anglar/src/main.server.ts
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Anglar/src/main.ts
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Anglar/src/styles.scss
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Anglar/tsconfig.app.json
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Anglar/tsconfig.json
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Anglar/tsconfig.spec.json
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Angular/.editorconfig
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Angular/.nx/cache/2488336567147830390/outputs/dist/tictactoe-angular/index.html
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Angular/.nx/cache/2488336567147830390/terminalOutput
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Angular/.nx/cache/cloud/2312.01.6.hotfix4/package.json
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Angular/.nx/cache/file-map.json
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Angular/.nx/cache/parsed-lock-file.json
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Angular/.nx/cache/project-graph.json
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Angular/.nx/cache/run.json
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Angular/.vscode/extensions.json
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Angular/.vscode/launch.json
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Angular/.vscode/tasks.json
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Angular/nx.json
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Angular/package-lock.json
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Angular/package.json
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Angular/project.json
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Angular/README.md
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Angular/src/app/app-routing.module.ts
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Angular/src/app/app.component.html
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Angular/src/app/app.component.scss
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Angular/src/app/app.component.spec.ts
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Angular/src/app/app.component.ts
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Angular/src/app/app.module.ts
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Angular/src/app/board/board.component.css
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Angular/src/app/board/board.component.html
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Angular/src/app/board/board.component.spec.ts
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Angular/src/app/board/board.component.ts
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Angular/src/app/square.component.spec.ts
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Angular/src/app/square.component.ts
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Angular/src/index.html
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Angular/src/main.ts
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Angular/src/styles.scss
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Angular/tsconfig.app.json
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Angular/tsconfig.json
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Angular/tsconfig.spec.json
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Anglar/.nx/cache/cloud/2312.01.6.hotfix4/package.json
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Anglar/.vscode/extensions.json
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Anglar/.vscode/launch.json
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Anglar/.vscode/tasks.json
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Anglar/nx.json
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Anglar/package-lock.json
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Anglar/package.json
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Anglar/project.json
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Anglar/README.md
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Anglar/server.ts
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Anglar/src/app/app.component.html
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Anglar/src/app/app.component.scss
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Anglar/src/app/app.component.spec.ts
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Anglar/src/app/app.component.ts
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Anglar/src/app/app.config.server.ts
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Anglar/src/app/app.config.ts
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Anglar/src/app/app.routes.ts
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Anglar/src/app/square/square.component.spec.ts
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Anglar/src/app/square/square.component.ts
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Anglar/src/assets/.gitkeep
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Anglar/src/favicon.ico
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Anglar/src/index.html
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Anglar/src/main.server.ts
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Anglar/src/main.ts
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Anglar/src/styles.scss
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Anglar/tsconfig.app.json
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Anglar/tsconfig.json
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Anglar/tsconfig.spec.json
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Angular/.editorconfig
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Angular/.nx/cache/2488336567147830390/outputs/dist/tictactoe-angular/index.html
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Angular/.nx/cache/2488336567147830390/terminalOutput
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Angular/.nx/cache/cloud/2312.01.6.hotfix4/package.json
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Angular/.nx/cache/file-map.json
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Angular/.nx/cache/parsed-lock-file.json
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Angular/.nx/cache/project-graph.json
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Angular/.nx/cache/run.json
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Angular/.vscode/extensions.json
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Angular/.vscode/launch.json
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Angular/.vscode/tasks.json
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Angular/nx.json
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Angular/package-lock.json
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Angular/package.json
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Angular/project.json
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Angular/README.md
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Angular/src/app/app-routing.module.ts
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Angular/src/app/app.component.html
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Angular/src/app/app.component.scss
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Angular/src/app/app.component.spec.ts
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Angular/src/app/app.component.ts
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Angular/src/app/app.module.ts
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Angular/src/app/board/board.component.css
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Angular/src/app/board/board.component.html
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Angular/src/app/board/board.component.spec.ts
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Angular/src/app/board/board.component.ts
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Angular/src/app/square.component.spec.ts
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Angular/src/app/square.component.ts
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Angular/src/index.html
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Angular/src/main.ts
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Angular/src/styles.scss
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Angular/tsconfig.app.json
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Angular/tsconfig.json
ANGULAR_FIRSTENCOUNTER/TICTACTOE_Angular/tsconfig.spec.json
