input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid green;
  -webkit-text-fill-color: white;
  -webkit-box-shadow: 0 0 0px 1000px #000 inset;
  transition: background-color 5000s ease-in-out 0s;
}
:root {
    --color-primary: #e98227;
    --color-secondary: #33ff00;
    --color-light: #e8e6e3;
    --coplor-dark: #313436;
}
:root.night-mode {
    --color-primary: #4700b3;
    --color-secondary: #33ff00;
    --color-light: #e8e6e3;
    --color-dark: #313436;
}
:root.night-mode .panel {
    border-color: #000;
    animation: flickerAnimation 2s 1s steps(6, jump-both) forwards;
}
:root.night-mode .header {
    color: #000;
    animation: flickerAnimation 2s 1s steps(6, jump-both) forwards;
}
:root.night-mode .form_control {
    background-color: rgba(34, 34, 34, 0.501);
    border-color: var(--color-secondary);
    font-family: inherit;
    color: var(--color-light);
    font-size: inherit;
    width: calc(100% - 3rem);
    padding: 1rem 1.5rem;
    outline: none;
}
html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-padding: 0;
    font-size: 62.5%;
}
body {
    background-color: #222;
    min-height: 100vh;
    padding: 0;
    margin: 0;
    display: flex;
    font-family: "Press Start 2P", sans-serif;
    font-size: 2rem;
}
.hero_video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 100%;
}
.hero {
    height: 100vh;
    min-height: 100vh;
    min-width: 60vw;
}
.hero::after {
    content: "";
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to bottom right, var(--color-primary), #000);
    position: absolute;
    top: 0;
    left: 0;
    opacity: 40%;
}
.content {
    font-size: 1.5rem;
    height: 100vh;
    width: 40vw;
    background-color: rgba(0,0,0,0.85);
    position: absolute;
    right: 0;
    color: var(--color-light);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.panel {
    border: 1px solid white;
    padding: 2rem;
    border-radius: 5px;
}
.form {
    width: 45rem;
}
.form_control {
    display: block;
    border: none;
    border-radius: 5px;
    background-color: rgba(75, 75, 75, 0.543);
    border: 1px solid var(--color-dark);
    font-family: inherit;
    color: var(--color-light);
    font-size: inherit;
    width: calc(100% - 3rem);
    padding: 1rem 1.5rem;
    outline: none;
}
.form_controlactive, .form_control:focus {
    border-color: var(--color-primary);
}
.form .btn-sign-up {
    display: block;
    margin: 0 auto;
    margin-top: 4rem;
    border: 1px solid var(--color-dark);
    padding: 1.5rem;
    border-radius: 5px;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: inherit;
    outline: none;
}
.form .btn-sign-up:hover, .form .btn-sign-up:active {
    border-color: var(--color-primary);
    color: var(--color-primary);
    cursor: pointer;
}
.form .btn-sign-up:active {
    transform: translateY(1px);
}

.header {
    margin: 0;
    user-select: none;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header_primary {
    font-size: 5rem;
    letter-spacing: 3.2px;
    margin-bottom: 1.1rem;
    margin-left: 1.1px;
}
.header_primary:hover {
    color: var(--color-primary);
}
.header_secondary {
    width: 100%;
    font-size: 2.1rem;
    margin-bottom: 2.1rem;
}
.log-in-message {
    display: block;
    text-align: center;
    margin-bottom: 1.1rem;
    font-size: 1.2rem;
    margin-top: 1.9rem;
}
.log-in-message .sign-in-link {
    color: var(--color-primary);
    text-decoration: none;
    padding-bottom: 5.1px;
    border-bottom: 2.1px solid var(--color-primary);
    outline: none;
}
.log-in-message .sign-in-link:hover, .log-in-message .sign-in-link:focus {
    color: var(--color-secondary);
    border-bottom-color: var(--color-secondary);
    cursor: pointer;
}
.sun {
    position: absolute;
    top: 20px;
    right: 100px;
}
.sunPseudo {
    background: var(--color-primary);
    position: absolute;
    border-radius: 51px;
    right: -74px;
    width: 31px;
    height: 31px;
    transition: opacity 1s, transform 1s;
}
.sunPseudo:hover {
    cursor: pointer;
    transform: translateY(-3px);
}
.sunPseudo::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 81%;
    width: 81%;
    border-radius: 50%;
    z-index: -1;
    background-color: #fefefe;
    filter: blue(40px);
    user-select: none;
    opacity: 0%;
}
.sunPseudo:hover::before {
    opacity: 100%;
}
.moon {
    position: absolute;
    top: 30px;
    right: 100px;
}
.moonPseudo {
    position: absolute;
    height: 30px;
    width: 31px;
    left: -81px;
    box-shadow: inset -6px 6px 0 6px var(--color-primary);
    border-radius: 50%;
    transition: opacity 1s, transform 1s;
    opacity: 0%;
}
.moonPseudo:hover {
    cursor: pointer;
    transform: translate(2px, 3px);
}
.moonPseudo:hover::before {
    opacity: 10%;
}
.moonPseudo::before {
    top: 0;
    left: 0;
    height:100%;
    width: 100%;
    border-radius: 51%;
    background-color: #fefefe;
    z-index: -1;
    filter: blur(40px);
    user-select: none;
    opacity: 0%;
}

.credits {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    font-size: 1.6rem;
    color: var(--color-light);
}
.credits_name {
    color: var(--color-primary);
}
.porscheLogo_img {
    z-index: 1;
    width: 21rem;
    position: absolute;
    top: 2rem;
    left: 2rem;
}
.porscheLogo_img-dark {
    z-index: 2;
    width: 21rem;
    position: absolute;
    top: 2rem;
    left: 2rem;
    display: none;
    transform: scale(110%);
}
/* sun-moon animation @lxoWxiRxy: */
@keyframes arc-out-sun {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rorate(180deg);
    }
}
.arc-out-sun {
    animation: arc-out-sun 2s forwards;
}
@keyframes arc-in-moon {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(200deg);
    }
}
.arc-in-moon {
    animation: arc-in-moon 2s forwards;
}
@keyframes reflect-moon {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(180deg);
   }
}
.reflect-moon {
    animation: reflect-moon 1ms forwards;
}
@keyframes arc-out-moon {
    0% {
        transform: rotate(204deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.arc-out-moon {
    animation: arc-out-moon 2s forwards;
}
/* ...  */
:root.night-mode .form {
    color: var(--color-secondary);
}
:root.night-mode .sign-in-link {
    color: var(--color-light);
    border-bottom-color: var(--color-light);
}
:root.night.mode .sign-in-link:hover {
    color: var(--color-primary);
    border-bottom-color: var(--color-primary);
}
:root.night-mode .form_control:active, :root.night-mode .form_control:focus {
    border-color: var(--color-primary);
}
:root.night-mode .credits_name {
    color: var(--color-secondary);
}
:root.night-mode .porscheLogo_img {
    display: none;
}
:root.night-mode .porscheLogo_img-dark {
    display: none;
}
.form_group:not(:first-chidl) {
    margin-top: 2rem;
}
.form_label {
    display: block;
    line-height: 1.6;
    margin-bottom: 1.5rem;
}

/* animations cont. */
@keyframes arc-in-sun {
    0% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.arc-in-sun {
    animation: arc-in-sun 2s forwards;
}
.fade-in {
    opacity: 100%;
}
.fade-out {
    opacity: 0%;
}
@keyframes flickerAnimation {
    0%{
        border-color: #000;
        color: #000;
    }
    60%{
        border-color: var(--color-secondary);
        color: var(--color-secondary);
    }
    65% {
        border-color: #000;
        color: var(--color-secondary);
    }
    70% {
        border-color: var(--color-secondary);
        color: var(--color-secondary);
    }
    75% {
        border-color: #000;
        color: #000;
    }
    100% {
        border-color: var(--color-secondary);
        color: var(--color-secondary);
    }
}
.flicker {
    animation: flickerAnimation 1s;
}

/* media - section  */
@media only screen and (max-width: 1560px){
    html {
        font-size: 50%;
    }
}
@media only screen and (max-width: 1160px){
    html {
        font-size: 40%;
    }
}
@media only screen and (max-width: 930px) {
    html {
        font-size: 56.5%;
    }
    .hero {
        height: 100vh;
        min-height: 100vh;
        min-width: 0vw;
    }
    .content {
        width: 100vw;
    }
    .panel {
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .header {
        text-align: center;
        margin-left: 2.5rem;
    }
    .header_primary {
        font-size: 4.4rem;
    }
    .header_secondary {
        font-size: 1.4rem;
    }
    .content{
        height: 96vh;
    }
    .porscheLogo {
        z-index: 1;
    }
}